/* ========================================================================== */
/* Custom Reset */
a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}


/* Common */
html {
  font-size: 10px;
}

html,
body {
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}

body {
  font-size: 1.6rem;
  background: #333;
  transition: background .3s;
  overflow-x: hidden;
  overscroll-behavior: none;
}


/* Common Class */
.blind {
  font-size: 0;
  line-height: 0;
  width: 1px;
  height: 1px;
  line-height: 1px;
  text-align: -9999px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -9999px;
}

.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.ir-so {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 40px;
}

.dp-f {
  display: flex;
  justify-content: flex-start;
}

.dp-f.jcc {
  justify-content: center;
}

.dp-f.jcfe {
  justify-content: flex-end;
}

.dp-f.jcsb {
  justify-content: space-between;
}

.dp-f.jcsa {
  justify-content: space-around;
}

.dp-f.aic {
  align-items: center;
}

.dp-f.aife {
  align-items: flex-end;
}

.dp-f.col {
  flex-direction: column;
}

.dp-f.wrap {
  flex-wrap: wrap;
}

.ta-c {
  text-align: center;
}

.blank40 {
  display: inline-block;
  width: 4rem;
}


/* ========================================================================== */
/* Header */
#header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background: #FF5E90; /* 42b4e6 FF5E90 2864F0 */
  height: 80px;
  z-index: 100;
}

.header-inner {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo a {
  position: relative;
  display: block;
  font-size: 3rem;
  color: #fff;
  padding-left: 5rem;
}

.header-logo a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 4rem;
  height: 4rem;
  background: url('../img/fork.png') no-repeat 50% 50%/contain;
}


/* ========================================================================== */
/* Main */
#main {
  padding-top: 80px;
}

.mobile-width {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}


/* feed */
.feed-wrap {
  background: #fdf2f5;
}

.feed-switch-btns {
  position: relative;
  display: flex;
  justify-content: center;
}

.feed-switch-btns:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 3px;
  background: #FF5E90;
}

a.feed-btn {
  width: 50%;
  font-size: 2rem;
  line-height: 1;
  font-family: 'GangwonEduPowerExtraBoldA';
  padding: 20px 40px;
  background: #fff;
  /* background: linear-gradient(180deg, transparent 0%, transparent 50%, #d8d8e0 50%, #d8d8e0 100%); */
  text-align: center;
}

a.feed-btn.active {
  /* background: linear-gradient(180deg, transparent 0%, transparent 50%, #f3a4bd 50%, #f3a4bd 100%); */
}


.feed-switch-contents {
  padding: 16px;
}

.tarae-feed > h2 {
  font-size: 12px;
  color: #fff;
  padding: 3px;
  background: #FF5E90;
  text-align: center;
  margin-bottom: 10px;
}

.tarae-box {
  padding: 20px 25px;
  background: #fff;
  margin-bottom: 16px;
  border-radius: 10px;
}

.tarae-box .tr-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
}

.tr-info .user-nick a {
  display: flex;
  align-items: center;
}

.tr-info .user-nick .nick-thumb {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

.tr-info .user-nick .nick-name {
  margin-left: 1.5rem;
}

.tr-info .user-nick .nick-name span {
  font-size: 1.8rem;
  font-weight: 700;
}

.tr-info .user-nick .nick-name p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #acacac;
}

.tarae-box .tr-content {
  padding: 20px 0;
  margin-bottom: 20px;
}

.tr-content h3 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.tr-content p {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
 
.tr-content .tr-thumb {
  max-width: 70%;
  border-radius: 30px;
  overflow: hidden;
}

.tr-foot-info .tags {
  padding: 8px;
}
.tr-foot-info .tags span {
  font-size: 1.4rem;
  color: #FF5E90;
  font-weight: 500;
  display: inline-block;
  padding: 4px 6px;
  border: 1px solid #FF5E90;
  border-radius: 5px;
}

.tr-foot-info .tags span + span {
  margin-left: 5px;
}

.tr-foot-info .share-btns span {
  display: inline-block;
  background: #FF5E90;
  color: #fff;
}

.tr-foot-info .created-date {
  font-size: 1.4rem;
  color: #aaa;
}