/* 768 <= */
@media screen and (max-width: 768px) {


}

@media screen and (max-width: 600px) {


}


@media screen and (max-width: 500px) {

  /* font */
  html {
    font-size: 9.5px;
  }

  a.feed-btn {
    font-size: 1.9rem;
  }

  .tr-info .user-nick .nick-name span {
    font-size: 1.7rem;
  }

  .tr-content h3 {
    font-size: 2.2rem;
  }
  .tr-content p {
    font-size: 1.7rem;
  }


}

@media screen and (max-width: 400px) {

  /* font */
  html {
    font-size: 9px;
  }



}
